<%= form_for(current_user.friendships.build(friend_id: object.id, approved: 0)) do |f| %>
  <div><%= object.hidden_field :friend_id %></div>
  <%= f.submit "Add Friend", class: "btn btn-large btn-primary" %>
<% end %>